<!-- main ui -->
<main class="" v-if="!showPlaylist">

  <!-- head -->
  <div class="d-flex justify-content-center align-items-center" style="height: 10%; background: #cacaca;">
    <h5 class="text-center mb-0 py-1" style="font-weight: 600;">Play</h5>
  </div>

  <!-- -->
  <div class="text-center" style="height: 25%; display: grid; place-items: center;">
    <h5 class="mb-0" id="nowPlayingTitle" style="font-weight: 500;">{{(currentSong.songData == "") ? "Song Title" : currentSong.title}}</h5>
    <h6 id="nowPlayingSinger">{{(currentSong.songData == "") ? "artist" : currentSong.artist}}</h6>
  </div>
  <div class="d-flex justify-content-center align-items-center" style="height: 40%">
    <img :src="(currentSong == '') ? '/mp3-image.png' : currentSong.picture" :style="`width: 150px; height: 150px;   background: #cacaca; border-radius: 100%; border: 2px solid grey; ${ (isPlaying? 'animation-play-state: running;': 'animation-play-state: paused;')}`" id="discBann" class="rotate-center" alt="">
  </div>
  <audio id="audio"  [src]="currentSong.songData" (timeupdate)="timeUpdateMeth()"></audio>
  <div class="d-flex justify-content-evenly align-items-center" style="height: 10%">
    <span>{{currentSongPlayTime}}</span>
    <input type="range" (input)="seek()" min="0.00" :max="curSongDurInSecs" v-model="progressValue"  name=""  id="" style="width: 65%">
    <span>{{currentSongDuration}}</span>
  </div>
  <div class="controlBtnDiv d-flex justify-content-evenly" style="height: 15%; background: #cacaca;">
    <button id="shuffleBtn" (click)="pickRandomSong('clicked')"><i id="shuffleBtnIcon" class="fa fa-random" aria-hidden="true"></i></button>
    <button id="previousBtn" (click)="playPreviousSong()"><i class="fa fa-step-backward" aria-hidden="true"></i></button>
    <button v-if="!isPlaying" (click)="play()" id="playBtn"><i class="fa fa-play-circle" aria-hidden="true"></i></button>
    <button v-if="isPlaying" (click)="pause()" id="pauseBtn"><i class="fa fa-pause-circle" aria-hidden="true"></i></button>
    <button id="nextBtn" (click)="playNextSong()"><i class="fa fa-step-forward" aria-hidden="true"></i></button>
    <button id="playlistBtn" (click)="showPlaylist = true"><i class="iconify" data-icon="bxs:playlist"></i></button>
  </div>
</main>


<!-- palylist ui -->
<main v-if="showPlaylist">
  <!-- head -->
  <div class="d-flex position-relative align-items-center mb-2" style="height: 10%; background: #cacaca;">
    <button (click)="showPlaylist = false" class="ml-3 border-0 position-absolute outline-0" style="height: 42px; background-color: transparent; left: 0; top: 5px;">Back</button>
    <h5 class="text-center py-1 mb-0" style="flex-grow: 1; font-weight: 600">SONGS</h5>
  </div>
  <div class="songList">
    <h4 class="text-center" v-if="songs.length == 0">No Song In Playlist</h4>
    <div *ngFor="let song of songs" :key="index" class="my-1 so_ng p-2 d-flex justify-content-evenly align-items-center">
      <button (click)="playThisSong(song)" class="d-flex justify-content-center align-item-center" style="width: 90%; background-color: transparent;">
        <div class="bannDiv" style="width: 50px; height: 50px; border-radius: 100%;">
          <img :src="(song.picture != 'Unknown') ? song.picture : '' " style="width: 50px; height: 50px; border-radius: 100%" alt="">
        </div>
        <div style="width: 65%; text-align: left; padding-left: 10px" class="">
          <p class="m-0 songInfo" style="font-size: 17px">{{song.title}}</p>
          <p class="m-0 songInfo" style="font-size: 14px">{{song.artist}}</p>
        </div>
      </button>
      <button (click)="removeSongFromPlaylist(song)" style="width: 5%">
        <i  class="fa fa-close"></i>
      </button>
    </div>
    
  </div>
  <div  style="height: 10%;">
    <button class="addSongsBtn" (click)="addSongsToPlaylist" style="border: none; width: 100%; height: 100%;">CLICK TO ADD SONG TO PLAYLIST <input type="file" (change)="readMusicMetadata()" multiple name="" id="musicFileSelector" hidden></button>
  </div>
</main>

<div id="snackbar"><button style="border: none; background-color: transparent; color: white">{{snackbarText}}</button></div>